<footer>
<p>This site was built using a variety of open source tools including but not limited to <a href="https://www.11ty.io/">Eleventy</a>, <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> and <a href="https://nodejs.org">Node</a>. Powered by <a href="https://github.com>GitHub</a> and <a href="https://netlify.com">Netlify</a>. All content edited with <a href="https://vim.org">vim</a> and written by <a href="/about">Rod Ebrahimi</a>.</p>
</footer>
