<!doctype html>
<html lang="en">
    <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5GK5HLP');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Site of Rod Ebrahimi" /> 
    <meta name="keywords" content="Rod Ebrahimi, Ebrahimi" />
    <style>{% include "css/main.css" %}</style>
    <link href='//fonts.googleapis.com/css?family=Roboto&subset=latin,greek,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <title>{{ title }} | rod ebrahimi</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30274763-1"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

                gtag('config', 'UA-30274763-1');
    </script>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class="{{ bodyClass }}" >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GK5HLP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <header>
        <ul class="nav">
          <li>
            <a href="/">home<small>start here</small></a>
          </li>
          <li>
            <a href="/rod-ebrahimi">about<small>for the curious</small></a>
          </li>
        </ul>
        <h1>{{ title }}</h1>
        {% if subtitle %}
        <p class="subtitle">{{ subtitle }}</p>
        {% else %}
        <p class="subtitle">&#x1f44b; my name is <a href="/about">Rod Ebrahimi</a> and this is where I write...</p>
        {% endif %}
    </header>

      {{ content | safe }}

      {% include "footer.njk" %}
      <script>{% include "js/scripts.js" %}</script>
    </div>
  </body>
</html>
