<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Site of Rod Ebrahimi" /> 
    <meta name="keywords" content="Rod Ebrahimi, Ebrahimi" />
    <style>{% include "css/main.css" %}</style>
    <link href='//fonts.googleapis.com/css?family=Roboto&subset=latin,greek,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <title>{{ title }} by rod ebrahimi</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30274763-1"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

                gtag('config', 'UA-30274763-1');
    </script>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' /> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <ul class="nav">
          <li>
            <a href="/">home<small>start here</small></a>
          </li>
          <li>
            <a href="/rod-ebrahimi">about<small>for the curious</small></a>
          </li>
        </ul>
        <h2>{{ title }}</h2>
        {% if subtitle %}
        <p class="subtitle">{{ subtitle }}</p>
        {% else %}
        <!--        <p class="subtitle">&#x1f44b; my name is <a href="/about">Rod Ebrahimi</a> and this is where I write...</p> -->
        {% endif %}
    </header>

      {{ content | safe }}

      {% include "footer.njk" %}
    </div>
  </body>
</html>
